.container {
  max-width: 800px;
  max-height: 650px;
  padding: 20px;
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #b2f5ee;
  font-family: "Roboto", sans-serif;
}
.city-input {
  background-color: white;
  border: 1px solid black;
}
.btn-primary {
  background-color: white;
  border: 1px solid #ced4da;
  background-clip: padding-box;
}
.btn-primary:hover {
  background-color: #3a86f5;
}
.btn-location {
  background-color: white;
  border: 1px solid #ced4da;
  background-clip: padding-box;
}
.btn-location:hover {
  background-color: #3a86f5;
}
.time {
  font-size: 15px;
  padding-left: 20px;
}
.currentStats {
  max-width: 800px;
  padding: 5px 5px 15px 5px;
  margin: 15px auto;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #defcf9;
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
}

.city {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}
.dayTime,
.wind,
.feels-like,
.humidity {
  font-size: 20px;
  font-weight: 575;
}
.weather {
  text-align: center;
}
.description {
  font-size: 20px;
  font-weight: 575;
  text-transform: capitalize;

  text-align: center;
}
.temperature {
  font-size: 40px;
  text-align: center;
}
.temperature small {
  position: relative;
  font-size: 20px;
  top: -13px;
}
.forecast p {
  text-align: center;
  font-size: 20px;
  font-weight: 575;
}
.day1,
.day2,
.day3,
.day4,
.day5 {
  max-width: 800px;
  padding: 5px;
  margin: 15px 10px 15px 10px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #defcf9;
  box-shadow: 5px 5px 5px rgba(29, 28, 28, 0.582);
}
.footer {
  display: block;
  text-align: center;
}
